{% extends "dna/layout.html" %}
{% load static %}

{% block head %}

{% endblock %}

{% block body %}

    <form class="row g-3 justify-content-center" id="pForm">
        {% csrf_token %}
                <div class="col-md-6">
                    <label for="accession" class="form-label">Accession</label>
                    <input type="text" class="form-control" id="accession">
                  </div>

                  <div class="col-md-6">
                    <label for="chromosome" class="form-label">Chromosome</label>
                    <input type="text" class="form-control" id="chromosome">
                  </div>

                  <div class="col-md-6">
                    <label for="ensembl" class="form-label">Ensembl</label>
                    <input type="text" class="form-control" id="ensembl">
                  </div>

                  <div class="col-md-6">
                    <label for="gene" class="form-label">Gene</label>
                    <input type="text" class="form-control" id="gene">
                  </div>

                  <div class="col-md-6">
                    <label for="protein" class="form-label">Protein Name</label>
                    <input type="text" class="form-control" id="protein">
                  </div>

                  <div class="col-md-6">
                    <label for="taxid" class="form-label">Taxonomy ID</label>
                    <input type="text" class="form-control" id="taxid">
                  </div>

                  <div class="col-md-6">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location">
                  </div>

            <div class="row justify-content-center gy-2" id="submission">
                <div class="col-auto">
                    <button type="button" class="btn btn-primary btn-md btn-block" id="proteinSubmit">Submit</button>
                </div>
            </div>

    </form>

    <br></br>

    <div id = "proteinTableDiv">

    </div>


{% endblock %}

{% block script %}
<script src="{% static 'dna/home.js' %}"></script>
{% endblock %}


